[Install]
WantedBy=multi-user.target

[Unit]
Description=Monroe TAP Agent
After=network.target docker.service

[Service]
ExecStart=/opt/monroe/tap-agent/monroe-tap-agent.py

Type=simple
Restart=on-failure

StandardError=null
StandardOutput=null
