Package: monroe-tap-agent
Version: 0.1.0
Section: devel
Priority: optional
Architecture: amd64
Depends: python-flask (>=0.12.1-1)
Installed-Size: 73
Maintainer: Mohammad Rajiullah <mohammad.rajiullah@kau.se>
Vcs-Browser: https://github.com/MONROE-PROJECT/Utilities
Vcs-Git: https://github.com/MONROE-PROJECT/Utilities.git
Description: Installs a TAP agent to control and exectue experiments on a monroe node.

